<!DOCTYPE html>
<html>
  <head>
    <title>PartTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container grid-sm">

      <div id="Top">
        <%= link_to "小試牛刀", root_path, class: 'logo' %>
      </div>

      <div class="columns" id="Wrapper">
        <%= yield %>
      </div>

      <div id="Footer" class="text-center">
        &copy; 2018
      </div>
    </div>
  </body>
</html>
